*::before, *::after, *{
    box-sizing: border-box;
}

:root {
  --primary-h: 261;
  --primary-s: 88%;
  --primary-l: 17%;
}

body {
    background-color: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    color: hsl(var(--primary-h), var(--primary-s), 90%);
    text-align: center;
}

.strength-meter {
  --primary-l: 57%;
  position: relative;
  height: 2rem;
  width: 90%;
  border: 3px solid hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  border-radius: 1rem;
  margin: 0 auto;
  overflow: hidden;
}

.strength-meter::before {
  /* --strength: 20; */
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(1% * var(--strength, 0));
  background-color: hsl(var(--primary-h), var(--primary-s), 67%);
  transition: width 200ms;
}

.password-input {
  margin-top: 1rem;
  width: 90%;
  padding: 0.25rem .75rem;
  background-color: hsl(var(--primary-h), var(--primary-s), 25%);
  color: white;
  border: 1px solid hsl(var(--primary-h), var(--primary-s), 57%);
  outline: none;
  text-align: center;
  border-radius: .3rem;
}

.password-input:focus {
  border-color: hsl(var(--primary-h), var(--primary-s), 70%);
}

.reasons > * {
  margin-top: .5rem;
  color: hsl(var(--primary-h), var(--primary-s), 80%);
}


/* .button {
  background-color: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
}

.button:hover {
  --primary-l: 54%;
} */