*::before, *::after, *{
    box-sizing: border-box;
}

:root {
  --primary-h: 221;
  --primary-s: 12%;
  --primary-l: 17%;
}

body {
    background-color: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    color: hsl(var(--primary-h), var(--primary-s), 90%);
    text-align: center;
}

.strength-meter {
  --primary-l: 57%;
  position: relative;
  height: 2.5rem;
  width: 90%;
  border: 3px solid hsl(var(--primary-h), var(--primary-s), var(--primary-l));
  border-radius: 1rem;
  margin: 3rem auto; 
  overflow: hidden;
}

.strength-meter::before {
  /* --strength: 20; */
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: calc(1% * var(--strength, 0));
  background-color: hsl(var(--primary-h), var(--primary-s), 67%);
  transition: width 200ms;
}

.password-input {
  height: 2rem;
  width: 100%;
  background-color: hsl(var(--primary-h), var(--primary-s), 25%);
  color: white;
  border: 1px solid hsl(var(--primary-h), var(--primary-s), 57%);
  outline: none;
  text-align: center;
  border-radius: .3rem;
}

.password-input:focus {
  border-color: hsl(var(--primary-h), var(--primary-s), 70%);
}

.input-container {
  position: relative;
  width: 90%; /* Adjust as needed */
  margin: 1rem auto; /* Adjust margins */
}

.input-container > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px; /* Adjust this value for positioning */
  height: 20px; /* Set the height of the image */
  width: 20px; /* Set the width of the image */
  cursor: pointer;
}

/* .password-icon {
  margin-left: -30px;
  margin-top: 35px;
  cursor: pointer;
} */

/* #password-input {
  background-image: url(./icons/show.png);
  background-repeat: no-repeat;
  background-position: 2px 3px;
} */

.reasons {
  margin-top: 1.5rem;
}

.reasons > * {
  margin-top: .5rem;
  color: hsl(var(--primary-h), var(--primary-s), 80%);
}


/* .button {
  background-color: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
}

.button:hover {
  --primary-l: 54%;
} */